
.CodeMirror {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.notepad {
	margin-top:12%;
	margin-left:0%;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #5bc0de;
}

.docIdDiv{
	padding-left:10px; 
	padding-right:10px;
}